<section id="banner">
    <div class="inner">
        <h2>Cargo Rate</h2>
    </div>
    <a href="#one" class="more scrolly">Подробнее</a>
</section>
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="images/mini_banner1.jpg" alt="" /></div><div class="content">
            <h2>
                Узнайте среднюю стоимость грузоперевозок в один клик<br />
            </h2>
            <p>Не тратьте время на сложные расчеты! Наша система основана на анализе уже выполненных поездок, чтобы предложить вам надежную среднюю стоимость грузоперевозок. Быстро и просто</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/mini_banner2.jpg" alt="" /></div><div class="content">
            <h2>
                Экономьте время с нашей системой<br />
            </h2>
            <p>Наша система анализирует большой объем данных по поездкам, чтобы предложить вам оптимальную стоимость перевозок. Начните экономить свое время ужесегодня</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/mini_banner3.jpg" alt="" /></div><div class="content">
            <h2>
                Подписка на эффективность<br />
            </h2>
            <p>
                Получайте высокую эффективность и оптимизацию ваших грузоперевозок с нашей подпиской. Откройте доступ к уникальным инструментам и аналитике, чтобы снизить расходы и повысить прибыль
            </p>
        </div>
    </section>
</section>

<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Расчитай среднюю стоимость уже сейчас</h2>
        </header>
        <ul class="actions stacked">
            <li><a asp-controller="Request" asp-action="Index" class="button fit primary">Расчет</a></li>
        </ul>
    </div>
</section>