@model IFormFile

<form asp-action="Upload" method="post" asp-controller="Data" enctype="multipart/form-data">
    <div>
        <label for="file">Выберите файл</label>
        <input type="file" name="file" id="file" />
    </div>
    <button type="submit">Готово</button>
</form>
