<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
</body>
<footer>
    <h5>@DateTime.Now.Year</h5>
</footer>
</html>