 <header id="header" class="alt">
        <h1><a asp-controller="Home" asp-action="Index">Cargo Rate</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Меню</span></a>
                    <div id="menu">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                            <li><a asp-controller="Request" asp-action="Index">Расчёт</a></li>
                            <li><a asp-controller="Profile" asp-action="Index">Профиль</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>